* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    background: linear-gradient(241.18deg, #FA9A0A -5.96%, #FFF2C0 97.63%);
    display: flex;
    align-items: center;
}