/* Description */

.panel {
    width: 360px;
    margin: 0 30px;
    background-color: #fff;
    position: relative;
    height: 460px;
    padding: 20px;
    transition: .8s;
}

.panel h1 {
    color: #444;
    text-align: center;
    font-size: 38px;
}

.panel div {
    width: 100%;
}

.panel img {
    position: absolute;
    bottom: 0;
    left: -12px;
    z-index: 0;
}

.description {
    width: 216px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 28px;
    list-style: none;
    z-index: 1;
    position: absolute;
}

.description li {
    padding: 5px;
    display: flex;
    align-items: center;
    color: #444;
}

#first-panel {
    transition: .4s;
}

#first-panel .description li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FA9A0A;
}

#second-panel {
    display: none;
    width: 300px;
    transition: .8s;
    opacity: 0;
}

#second-panel img {
    left: -5px;
}

#second-panel .description {
    width: 257px;
    font-size: 20px;
    right: 0;
    text-align: right;
    bottom: 175px;
}

#second-panel .description li {
    width: 248px;
    font-size: 22px;
    display: flex;
    justify-content: right;
}

#second-panel .description li::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #FA9A0A;
}


/* FORM SIGN */

.panel h2 {
    color: #444;
    text-align: center;
    font-size: 34px;
    margin-top: 20px;
}

.panel form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 161px;
}

.form-group {
    width: 100%;
    margin-top: 30px;
    padding: 5px;
    position: relative;
}

.form-group input {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    font-size: 22px;
    border: 2px solid #222;
    padding: 5px;
    color: #F0750A;
}

.form-group p {
    margin-bottom: 10px;
}

.form-group p a {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: .8px;
    font-weight: 400;
}

.form-group button {
    background-color: #F0750A;
    padding: 15px 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    border: 2px solid #F0750A;
    transition: .5s;
    position: absolute;
    right: 0;
    top: 0;
}

.form-group button:hover {
    background-color: transparent;
    color: #F0750A;
    cursor: pointer;
}

#sign-up input {
    height: 45px;
    margin-top: -5px;
}


/* Sign In */

#sign-in {
    transition: .4s;
}


/* Sign UP */

#sign-up {
    display: none;
    transition: .8s;
    opacity: 0;
}